@charset "utf-8";
*{box-sizing:border-box;}
body{background:url(../images/background.jpg);}
#container_wrap{width:100%;}
#main_header{width:100%;background:#0044af;}
#main_gnb_wrap{width:1200px;height:40px;margin:0 auto;}
#main_gnb{position:relative;}
#main_gnb .left:after{content:"";display:block;clear:both;}
#main_gnb .left{position:absolute;left:0;top:0;}
#main_gnb .left li{float:left;width:125px;background:#00163b;margin-right:5px;padding:0 30px;}
#main_gnb .left a{color:#fff;}
#main_gnb .left li:hover, #main_gnb .left a:hover{background:#fff;color:#787878;}
#main_gnb .right:after{content:"";display:block;clear:both;}
#main_gnb .right{position:absolute;right:0;}
#main_gnb .right li{float:left;margin-right:5px;}
#main_gnb .right li:last-child{margin-right:none;}
#main_gnb .right li:nth-child(2){margin-top:16px;}
#main_gnb .right li:nth-child(3){margin-top:16px;}
#main_gnb .right a{color:#fff;}
#main_gnb .right a:hover{color:powderblue;}
#main_gnb .right a, #main_gnb .left a{display:block;text-align:center;line-height:40px;}
#header_wrap{width:1200px;height:120px;margin:0 auto;position:relative;background:#fff;}
#header:after{content:"";display:block;clear:both;}
#header{width:300px;position:absolute;}
#header img{position:absolute;left:0;top:20px;} 
#header .logo{position:absolute;left:100px;top:7px;color:#6a6a6a;}
#header p:first-child{display:block;font-size:25px;line-height:65px;text-align:justify;}
#menu_bar{}
#menu_bar ul:after{content:"";display:block;clear:both;}
#menu_bar ul{position:absolute;right:0;top:0;}
#menu_bar li{float:left;line-height:120px;}
#menu_bar li:last-child{margin-top:40px;}
#menu_bar a{display:block;text-align:center;padding:0 20px;color:#464646;}
#menu_bar a:hover{font-weight:bold;}
#content_wrap{width:100%;position:relative;}
#content_wrap img{width:100%;}
#content_wrap p{display:block;position:absolute;top:0;}               
