@charset "utf-8";
body{font-family: 'Audiowide', cursive;}
body{min-width:1000px;}
#main_header{background:lightyellow;height:60px;border-bottom: 1px solid #000;padding-left:10px;
	line-height:60px;background:url(../../testimg.jpg);}
#main_gnb{border-bottom: 1px solid #000;background:lightgray;}
#main_gnb:after{content:"";display:block;clear:both;}
#main_gnb ul.left{float:left;}
#main_gnb ul.right{float:right;}
#main_gnb ul:after{content:"";display:block;clear:both;}
#main_gnb li{float:left;}
#main_gnb a{display:block;padding:10px 20px;}
#main_gnb a:hover{font-weight:bold;background: lightblue;}


#wrap{background:lightblue;border-bottom: 1px solid #000;overflow:hidden;}
/*#wrap:after{content:"";display:block;clear:both;}*/
#main_lnb{float:left;width:200px;}
#main_lnb a{display:block;line-height:40px;padding-left:20px;border-top: 1px solid #fff;
	border-bottom: 1px solid #6298b2;}
#main_lnb a:hover{font-weight:bold;}
#content_wrap{float:left;width:100%;background:#fff;padding:20px;border-left: 1px solid #100;
	box-sizing:border-box;margin-right: -200px;}
#content{padding-right:200px;}

#main_footer{text-align:center;padding:10px;border-top: 1px solid #000;}